/*
=======================
CONFIGURATIONS GLOBALES
=======================
*/
body{
    padding-top: 120px;
}

/*
=====
FONTS
=====
 */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/glyphicons-halflings-regular.svg') format('svg'); /* Legacy iOS */
}

/*
==========
NAVIGATION
==========
*/
.navbar {
    border-bottom: #326577 2px solid;
}

.navbar.bg-light {
    background-color: #FFFFFF !important
}

.navbar div#navbar-brand-title div {
    line-height: 1;
    font-weight: bold;
}

.navbar div#navbar-brand-title div + div + div {
    font-weight: normal;
    color: #747171;
}

.navbar .nav-item .nav-link {
    font-weight: bold;
    color: #326577;
}

.navbar .active .nav-link {
    color: #2D7CBE !important;
}

.navbar .nav-item .nav-link:hover {
    color: #2D7CBE !important;
}

/*
=================
COLLAPSIBLE PANEL
=================
 */
.panel-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel {
    border: #2D7CBE 2px solid;
    border-radius: 7px;
}

.panel-heading {
    background-color: #2D7CBE;
    padding: 0;
    border: 0;
    border-radius: 5px 5px 0 0;
}

.panel-title {
    margin-bottom: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e138";
    float: left;
    padding-right: 10px;
    padding-top: 1px;
}

.panel-heading  a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-body {
    margin: 10px;
}


/*
=============================
COLLAPSIBLE PANEL - COMPOSANT
=============================
 */
#composant-titre:before {
    font-family: 'Glyphicons Halflings';
    content: "\e121";
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

#composant-titre {
    margin-top: 40px;
}

.composant .panel {
    border: #FFFFFF 2px solid;
    background-color: #f5f7fa;
}

.composant .panel-heading {
    border-radius: 0;
    background-color: #FFFFFF;
    border-bottom: #2D7CBE 2px solid;;
}

.composant .panel-title > a, .composant .panel-title > a:active {
    color: #2D7CBE;
}

.composant .panel-heading a:after {
    content: '';
}

/*
===========
FILTRE FORM
===========
 */
#filtre-form div.custom-radio {
    margin-top: 8px;
}

#filtre-form div.form-group {
    margin-bottom: 0px;
}

#filtre-form .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #2D7CBE;
}

#filtre-form button {
    background-color: #2D7CBE;
}
